<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.linphone.tester"
    android:sharedUserId="org.linphone.tester">

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="org.linphone.tester">
        <meta-data
            android:name="class"
            android:value="org.linphone.tester.AllTests" />
    </instrumentation>

</manifest>
