#################################################
# Base configuration
#################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  MAKEFILE_JOBS: 10
  CCACHE_SIZE: 2G

  #Lime X3DH activated by default, if there is a problem, see the default
  #build options in CMakeBuilder
  #Do not set CMAKE_OPTIONS here as it may be overwritten by child jobs


#################################################
# Platforms to test
#################################################

.job-prepare:
  variables:
    ALL_JOB_VARIABLE: ""
  retry:
    max: 2
    when: runner_system_failure

include:
  - '.docker-images.yml'

  - '.gitlab-ci-files/job-ios.yml'


stages:
 - docker-update-build
 - build
 - docker-update-build-ms
 - docker-update-build-liblinphone
 - test
 - check-orphans
 - package
 - deploy
 - email-notif
