ekt-server
tunnel
**/.vscode
**/.vs
**/.idea
**/*.nupkg
cmake/Windows/**/obj
cmake/Windows/**/bin
cmake/Windows/wrapper/LinphoneWrapper.cs
**/*.temp
build*/*
tester/Windows/**/x64
tester/Windows/**/obj
tester/Windows/**/bin
tester/Windows/**/Generated*
tester/Windows/LinphoneTester_uwp/packages
tester/IOS/swift/LinphoneTester/LinphoneTester.xcodeproj/xcuserdata
tester/IOS/swift/LinphoneTester/LinphoneTester.xcodeproj/project.xcworkspace/xcuserdata/
CMakeUserPresets.json

# Cache
.cache
.direnv
