variables:
  GIT_SUBMODULE_STRATEGY: recursive
  MAKEFILE_JOBS: 5
  DEFAULT_LINUX_CMAKE_OPTIONS: -DCMAKE_C_COMPILER_LAUNCHER= -DCMAKE_CXX_COMPILER_LAUNCHER=
  CMAKE_OPTIONS: -DENABLE_GPL_THIRD_PARTIES=YES -DENABLE_FFMPEG=YES


.job-android:

  tags: [ "docker" ]

  script:
    - sdkmanager
    - mkdir -p build-android
    - cd build-android
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Android -DLINPHONESDK_ANDROID_ARCHS="arm64, armv7, x86, x86_64" $DEFAULT_LINUX_CMAKE_OPTIONS $CMAKE_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS

  artifacts:
    paths:
      - build-android/linphone-sdk/bin/outputs/aar/*.aar
      - build-android/linphone-sdk/bin/distributions/linphone-sdk-*.zip
    when: always
    expire_in: 1 week


.scheduled-job-android:
  extends: .job-android
  only:
    - schedules


job-android-makefile-r16b:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r16b
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-android


job-android-ninja-r16b:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r16b
  variables:
    CMAKE_GENERATOR: Ninja
  extends: .job-android


job-android-ninja-r16b-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-android-ninja-r16b


job-android-makefile-r17c:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r17c
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-android


job-android-ninja-r17c:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r17c
  variables:
    CMAKE_GENERATOR: Ninja
  extends: .job-android


job-android-ninja-r17c-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-android-ninja-r17c


.job-ios:

  tags: [ "macosx" ]

  script:
    - ccache -s
    - mkdir -p build-ios
    - cd build-ios
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=IOS -DLINPHONESDK_IOS_ARCHS="arm64, armv7, i386, x86_64" $CMAKE_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS
    - ccache -s

  artifacts:
    paths:
      - build-ios/linphone-sdk-*.zip
      - build-ios/linphone-sdk.podspec
    when: always
    expire_in: 1 week


.scheduled-job-ios:
  extends: .job-ios
  only:
    - schedules


job-ios-makefile:

  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-ios


job-ios-ninja:

  variables:
    CMAKE_GENERATOR: Ninja
  extends: .job-ios


job-ios-ninja-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-ios-ninja


job-ios-xcode:

  tags: [ "macosx" ]

  only:
    - schedules
  script:
    - mkdir -p build-ios
    - cd build-ios
    - cmake .. -G Xcode -DLINPHONESDK_PLATFORM=IOS -DLINPHONESDK_IOS_ARCHS="arm64, armv7, i386, x86_64" $CMAKE_OPTIONS
    - cmake --build . --target sdk -- -IDEBuildOperationMaxNumberOfConcurrentCompileTasks=`sysctl -n hw.ncpu`

  artifacts:
    paths:
      - build-ios/linphone-sdk-*.zip
      - build-ios/linphone-sdk.podspec
    when: always
    expire_in: 1 week


.job-linux-desktop:

  tags: [ "docker" ]

  script:
    - export CC=$CC
    - export CXX=$CXX
    - mkdir -p build-desktop
    - cd build-desktop
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Desktop $DEFAULT_LINUX_CMAKE_OPTIONS $CMAKE_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS


.scheduled-job-linux-desktop:
  extends: .job-linux-desktop
  only:
    - schedules


job-centos7-makefile-gcc:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
  extends: .scheduled-job-linux-desktop


job-debian8-makefile-gcc:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:8
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux-desktop


job-debian9-makefile-gcc:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:9
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux-desktop


job-centos7-ninja-gcc:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


job-centos7-ninja-gcc-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-centos7-ninja-gcc


job-debian8-ninja-gcc:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:8
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


job-debian8-ninja-gcc-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-debian8-ninja-gcc


job-debian9-ninja-gcc:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:9
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


job-debian9-ninja-gcc-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-debian9-ninja-gcc


job-centos7-makefile-clang:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
  extends: .scheduled-job-linux-desktop


job-debian8-makefile-clang:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:8
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux-desktop


job-debian9-makefile-clang:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:9
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-linux-desktop


job-centos7-ninja-clang:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .job-linux-desktop


job-centos7-ninja-clang-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-centos7-ninja-clang


job-debian8-ninja-clang:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:8
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .job-linux-desktop


job-debian8-ninja-clang-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-debian8-ninja-clang


job-debian9-ninja-clang:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:9
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .job-linux-desktop


job-debian9-ninja-clang-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-debian9-ninja-clang


.job-macosx-desktop:

  tags: [ "macosx" ]

  script:
    - ccache -s
    - mkdir -p build-desktop
    - cd build-desktop
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Desktop -DCMAKE_OSX_DEPLOYMENT_TARGET=10.9 $CMAKE_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS
    - ccache -s


job-macosx-makefile:

  only:
    - schedules
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .job-macosx-desktop


job-macosx-ninja:

  variables:
    CMAKE_GENERATOR: Ninja
  extends: .job-macosx-desktop


job-macosx-ninja-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-macosx-ninja


job-macosx-xcode:

  tags: [ "macosx" ]

  only:
    - schedules
  script:
    - mkdir -p build-desktop
    - cd build-desktop
    - cmake .. -G Xcode -DLINPHONESDK_PLATFORM=Desktop -DCMAKE_OSX_DEPLOYMENT_TARGET=10.9 $CMAKE_OPTIONS
    - cmake --build . --target sdk -- -IDEBuildOperationMaxNumberOfConcurrentCompileTasks=`sysctl -n hw.ncpu`


job-windows-vs2015:

  tags: [ "windows" ]

  script:
    - mkdir build-desktop
    - cd build-desktop
    - cmake .. -G "Visual Studio 14 2015" -DLINPHONESDK_PLATFORM=Desktop -DCMAKE_BUILD_TYPE=Release %CMAKE_OPTIONS%
    - cmake --build . --target sdk --config Release -- /maxcpucount


job-windows-vs2015-novideo:

  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-windows-vs2015


#job-uwp-vs2017:
#
#  tags: [ "windows" ]
#
#  script:
#    - mkdir build-uwp
#    - cd build-uwp
#    - cmake .. -G "Visual Studio 15 2017" -DLINPHONESDK_PLATFORM=UWP -DCMAKE_BUILD_TYPE=Release -DENABLE_FFMPEG=NO -DENABLE_VPX=NO
#    - cmake --build . --config Release
