#################################################
# Base configuration
#################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  MAKEFILE_JOBS: 5
  CCACHE_SIZE: 2G
  CMAKE_OPTIONS: -DENABLE_LIME_X3DH=YES


#################################################
# Platforms to test
#################################################

.job-prepare:
  variables:
    ALL_JOB_VARIABLE: ""

include:
#  - '.gitlab-ci-files/job-linux-prepare.yml'
#  - '.gitlab-ci-files/job-android.yml'
#  - '.gitlab-ci-files/job-ios.yml'
#  - '.gitlab-ci-files/job-linux-desktop.yml'
#  - '.gitlab-ci-files/job-linux-desktop-archlinux-latest.yml'
#  - '.gitlab-ci-files/job-linux-desktop-centos7.yml'
#  - '.gitlab-ci-files/job-linux-desktop-debian8.yml'
#  - '.gitlab-ci-files/job-linux-desktop-debian9.yml'
#  - '.gitlab-ci-files/job-linux-desktop-ubuntu-rolling.yml'
#  - '.gitlab-ci-files/job-macosx.yml'
  - '.gitlab-ci-files/job-windows.yml'
#  - '.gitlab-ci-files/job-packages.yml'
#  - '.gitlab-ci-files/job-uploads.yml'

stages:
 - build
 - test
# - package
# - deploy
