#################################################
# Base configuration
#################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  MAKEFILE_JOBS: 5
  CCACHE_SIZE: 2G

  #Lime X3DH activated by default, if there is a problem, see the default
  #build options in CMakeBuilder
  #Do not set CMAKE_OPTIONS here as it may be overwritten by child jobs


#################################################
# Platforms to test
#################################################

.job-prepare:
  only:
    - schedules

  except:
    variables:
      - $FAST_LINUX_TESTS

include:
  - '.docker-images.yml'
  - '.set_parallel_level.yml'
  - '.gitlab-ci-files/job-linux-prepare.yml'
  - '.gitlab-ci-files/job-android.yml'
  - '.gitlab-ci-files/job-ios.yml'
  - '.gitlab-ci-files/job-linux-desktop.yml'
#  - '.gitlab-ci-files/job-linux-desktop-archlinux-latest.yml'
  - '.gitlab-ci-files/job-linux-desktop-centos7.yml'
#  - '.gitlab-ci-files/job-linux-desktop-debian8.yml'
#  - '.gitlab-ci-files/job-linux-desktop-debian9.yml'
#  - '.gitlab-ci-files/job-linux-desktop-ubuntu-rolling.yml'
  - '.gitlab-ci-files/job-macosx.yml'
  - '.gitlab-ci-files/job-windows.yml'

stages:
 - build
 - test
