tunnel
**/.vscode
**/.vs
**/.idea
**/*.nupkg
cmake/Windows/**/obj
cmake/Windows/**/bin
cmake/Windows/wrapper/LinphoneWrapper.cs
cmake/Windows/nuget/Win32
cmake/Windows/nuget/NuGetLinphoneSDK
**/*.temp
build*/*
tester/Windows/**/x64
tester/Windows/**/obj
tester/Windows/**/bin
tester/Windows/**/Generated*
tester/Windows/LinphoneTester_uwp/packages
