#################################################
# Windows
#################################################

job-windows-vs2017-win32-package:
  stage: package
  tags: [ "windows" ]
  dependencies:
    - job-windows-vs2017-win32-scheduled
  only:
    variables:
      - $NIGHTLY_MASTER
      - $PACKAGE_RUN_WINDOWS
      - $NIGHTLY_RELEASE

  script:
    - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat"
    - cd build-desktop
    - chdir > chdir_sdk.temp
    - set /p OUTPUT_SDK_BUILD=<chdir_sdk.temp
    - cd ..\cmake\Windows\wrapper\
    - chdir > chdir_wrapper.temp
    - set /p OUTPUT_WRAPPER_BUILD=<chdir_wrapper.temp
    - msbuild -t:restore CsWrapper.csproj
    - msbuild CsWrapper.csproj /p:MDILCompile=true /p:Platform="x86" /t:build /p:Configuration=Release /p:OutputSdkBuild=%OUTPUT_SDK_BUILD%
    - cd ..\nuget
    - git describe > describe.temp
    - set /p DESCRIBE=<describe.temp
    - msbuild NuGetLinphoneSDK.vcxproj /p:VersionNumber=%DESCRIBE% /p:OutputSdkBuild=%OUTPUT_SDK_BUILD% /p:OutputWrapperBuild=%OUTPUT_WRAPPER_BUILD%
  after_script:
    - mkdir "%CI_PROJECT_DIR%/results/windows-nugget"
    - dir
    - cd cmake/Windows/nuget/
    - copy /B *.nupkg "%CI_PROJECT_DIR%/results/windows-nugget"
  artifacts:
    paths:
      - results/*
    when: always
    expire_in: 1 week

#################################################
# Xamarin (Android & iOS)
#################################################

job-xamarin-package:
  stage: package
  tags: [ "deploy" ]
  variables:
    GIT_STRATEGY: none
  dependencies:
  #  - job-ios-ninja
  #  - job-android-makefile-r17c
  only:
    variables:
      - $NIGHTLY_RELEASE
      - $UPLOAD_XAMARIN
  script:
    #removing previous results directory to avoid getting incorrect artifacts for current launch
    - if [ -d "$CI_PROJECT_DIR/results" ]; then rm -rf $CI_PROJECT_DIR/results; fi;
    - if [ -f "$CI_PROJECT_DIR/linphone-sdk-xamarin*" ]; then rm -rf $CI_PROJECT_DIR/linphone-sdk-xamarin*; fi;
    - VERSION=$(cat ${CI_PROJECT_DIR}/build-ios/linphonesdkversion.txt)
    - echo $VERSION
    - cd build/linphone-sdk/bin/distributions/
    - ls .
    #- VERSION=$(ls linphone-sdk-android* | sed -e 's/linphone-sdk-android-//g')
    - unzip linphone-sdk-android-$VERSION -d linphone-sdk-android
    - unzip $CI_PROJECT_DIR/build-ios/linphone-sdk-ios-$VERSION -d linphone-sdk-ios
    - zip -r $CI_PROJECT_DIR/linphone-sdk-xamarin-$VERSION.zip linphone-sdk-android linphone-sdk-ios
    - ls $CI_PROJECT_DIR/linphone-sdk-xamarin*

  after_script:
    - mkdir -p $CI_PROJECT_DIR/results/xamarin
    - cp $CI_PROJECT_DIR/linphone-sdk-xamarin*.zip $CI_PROJECT_DIR/results/xamarin
    #Cleaning also previous artifacts to avoid conflicts with future jobs
    - rm -r $CI_PROJECT_DIR/build/linphone-sdk/bin/distributions/*
    - rm -r $CI_PROJECT_DIR/build-ios/linphone-sdk-ios*
    - rm $CI_PROJECT_DIR/linphone-sdk-xamarin*
  artifacts:
    paths:
      - results/*
    when: always
    expire_in: 1 week
