#Build template to use in other job scripts without having to copy same code
#format = .className: &referenceName
#Use = "<< *referenceName" to use the template ("-*" in script)


.factorize_arch: &docker_image_platform_and_runner_tag
  tags: [ "docker-test" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-archlinux:$ARCHLINUX_IMAGE_VERSION
  variables:
    PLATFORM: linux-arch

#################################################
# Makefile
#################################################


job-archlinux-latest-makefile-gcc:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-archlinux:$ARCHLINUX_IMAGE_VERSION
  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


job-archlinux-latest-makefile-clang:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-archlinux:$ARCHLINUX_IMAGE_VERSION
  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
  extends: .job-linux-desktop


#################################################
# Ninja
#################################################


job-archlinux-latest-ninja-gcc:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-archlinux:$ARCHLINUX_IMAGE_VERSION
  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


job-archlinux-latest-ninja-gcc-novideo:

  tags: [ "docker" ]
  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-archlinux-latest-ninja-gcc


job-archlinux-latest-ninja-clang:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-archlinux:$ARCHLINUX_IMAGE_VERSION
  except:
    variables:
      - $DOCKER_UPDATE
      - $SKIP_LINUX
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .job-linux-desktop


job-archlinux-latest-ninja-clang-novideo:

  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-archlinux-latest-ninja-clang


#################################################
# TESTS
#################################################


test-bctoolbox-arch:
  extends: .test-bctoolbox
  <<: *docker_image_platform_and_runner_tag

test-bellesip-arch:
  extends: .test-bellesip

  #different runner needed because belle-sip_tester can't work in parallel (dialog test suite is crashing randomly)
  tags: [ "docker-sequential" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-archlinux:$ARCHLINUX_IMAGE_VERSION
  variables:
    PLATFORM: linux-arch

test-belr-arch:
  extends: .test-belr
  <<: *docker_image_platform_and_runner_tag

test-belcard-arch:
  extends: .test-belcard
  <<: *docker_image_platform_and_runner_tag

test-bzrtp-arch:
  extends: .test-bzrtp
  <<: *docker_image_platform_and_runner_tag

test-liblinphone-arch:
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-archlinux-test-liblinphone:$ARCHLINUX_TEST_LIBLIN_IMAGE_VERSION
  extends: .test-liblinphone
  variables:
    PLATFORM: linux-arch
