.job-android:

  stage: build
  tags: [ "docker-android" ]

  variables:
    CCACHE_SIZE: 4G

  extends: .linux-prepare

  script:
    - sdkmanager
    - mkdir -p build-android
    - cd build-android
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Android -DLINPHONESDK_ANDROID_ARCHS="$ANDROID_ARCHS" $DEFAULT_LINUX_CMAKE_OPTIONS $CMAKE_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS

  artifacts:
    paths:
      - build-android/linphone-sdk/bin/outputs/aar/*.aar
      - build-android/linphone-sdk/bin/distributions/linphone-sdk-*.zip
    when: always
    expire_in: 1 week


.scheduled-job-android:
  extends: .job-android
  only:
    - schedules


#################################################
# Makefile
#################################################


job-android-makefile-r16b:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r16b
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-android


job-android-makefile-r17c:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r17c
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
    CMAKE_OPTIONS: -DENABLE_AAUDIO=ON
  extends: .scheduled-job-android


job-android-makefile-r18b:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r18b
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-android


job-android-makefile-r19:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r19
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .scheduled-job-android


#################################################
# Ninja
#################################################


job-android-ninja-r16b:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r16b
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Ninja
  extends: .scheduled-job-android


job-android-ninja-r16b-novideo:
  except:
    variables:
      - $FAST_LINUX_TESTS
  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-android-ninja-r16b


job-android-ninja-r17c:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r17c
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Ninja
    CMAKE_OPTIONS: -DENABLE_AAUDIO=ON
  extends: .job-android


job-android-ninja-r17c-novideo:
  except:
    variables:
      - $FAST_LINUX_TESTS
  only:
    - schedules
  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO -DENABLE_AAUDIO=ON
  extends: job-android-ninja-r17c


job-android-ninja-r18b:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r18b
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Ninja
    CMAKE_OPTIONS: -DENABLE_AAUDIO=ON
  extends: .scheduled-job-android


job-android-ninja-r19:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r19
  except:
    variables:
<<<<<<< HEAD
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
=======
      - $FAST_LINUX_TESTS
>>>>>>> e5cb70a... added conditionnal schedule to run only the needed jobs
  variables:
    CMAKE_GENERATOR: Ninja
    CMAKE_OPTIONS: -DENABLE_AAUDIO=ON
  extends: .scheduled-job-android
