
job-debian9-yocto-sumo:
  stage: build
  tags: [ "docker-debian9" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-yocto:latest
#  only:
#    variables:
#      - $NIGHTLY_MASTER
  cache:
    key: yocto-cache-key
    paths:
      - yocto_build/tmp/
      - yocto_build/deploy/
      - yocto_build/work/
      - yocto_build/work-shared/
      - yocto_build/sstate-cache/
      - yocto_build/downloads/
  before_script:
    - ln -sf ./yocto_build /home/build/poky/build
    - ls -la
  script:
    - pwd
    - ls -la
    - export WORKSPACE_PATH="$(pwd)"
    - cd /home/build/poky
    - source oe-init-build-env
    - bitbake -f linphone-sdk 2>&1 | tee bitbake_build.log
    - cd $WORKSPACE_PATH
    - pwd
    - ln -sf /home/build/poky/build ./yocto_build
    - ls -la
#Gitlab doesn't handle cache and artifacts paths outside of project workspace (/builds/$WORKSPACE/$PROJECT_NAME)
  artifacts:
    paths:
      - yocto_build/bitbake_build.log
      - yocto_build/tmp/deploy/ipk/**/linphone-sdk*.ipk
