#Build template to use in other job scripts without having to copy same code
#format = .className: &referenceName
#Use = "<< *referenceName" to use the template ("-*" in script)


.factorize_ubuntu-rolling: &docker_image_platform_and_runner_tag
  tags: [ "docker-test" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling:$UBUNTU_ROLLING_IMAGE_VERSION
  variables:
    PLATFORM: linux-ubuntu-rolling

#################################################
# Makefile
#################################################


job-ubuntu-rolling-makefile-gcc:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling:$UBUNTU_ROLLING_IMAGE_VERSION
  only:
    variables:
      - $NIGHTLY_MASTER
      - $DOCKER_UPDATE
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .job-linux-desktop


#job-ubuntu-rolling-makefile-clang:

#  tags: [ "docker" ]
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling:$UBUNTU_ROLLING_IMAGE_VERSION
#  only:
#    variables:
#      - $NIGHTLY_MASTER
#  variables:
#    CMAKE_GENERATOR: Unix Makefiles
#    CC: clang
#    CXX: clang++
#    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
#  extends: .job-linux-desktop


#################################################
# Ninja
#################################################


#job-ubuntu-rolling-ninja-gcc:

#  tags: [ "docker" ]
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling:$UBUNTU_ROLLING_IMAGE_VERSION
#  only:
#    variables:
#      - $NIGHTLY_MASTER
#  variables:
#    CMAKE_GENERATOR: Ninja
#    CC: gcc
#    CXX: g++
#  extends: .job-linux-desktop


#job-ubuntu-rolling-ninja-gcc-novideo:
#  only:
#    variables:
#      - $NIGHTLY_MASTER
#  variables:
#    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
#  extends: job-ubuntu-rolling-ninja-gcc


job-ubuntu-rolling-ninja-clang:
  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling:$UBUNTU_ROLLING_IMAGE_VERSION
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .job-linux-desktop


#job-ubuntu-rolling-ninja-clang-novideo:

#  only:
#    variables:
#      - $NIGHTLY_MASTER
#  variables:
#    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
#  extends: job-ubuntu-rolling-ninja-clang

#################################################
# TESTS
#################################################


test-bctoolbox-ubuntu:
  extends: .test-bctoolbox

  <<: *docker_image_platform_and_runner_tag

test-bellesip-ubuntu:
  extends: .test-bellesip

  tags: [ "docker-test-ubuntu-rolling-nuc" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling:$UBUNTU_ROLLING_IMAGE_VERSION
  variables:
    PLATFORM: linux-ubuntu-rolling

test-belr-ubuntu:
  extends: .test-belr

  <<: *docker_image_platform_and_runner_tag

test-belcard-ubuntu:
  extends: .test-belcard

  <<: *docker_image_platform_and_runner_tag

test-bzrtp-ubuntu:
  extends: .test-bzrtp

  <<: *docker_image_platform_and_runner_tag

test-liblinphone-ubuntu:
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling-test-liblinphone:$UBUNTU_ROLLING_TEST_LIBLIN_IMAGE_VERSION
  extends: .test-liblinphone

  variables:
    PLATFORM: linux-ubuntu-rolling
