#################################################
# iOS
#################################################


job-ios-upload:

  stage: deploy
  tags: [ "deploy" ]
  except:
    variables:
      - $FAST_LINUX_TESTS

  except:
    variables:
      - $DEPLOY_RUN_ANDROID

  only:
    - schedules
  dependencies:
    - job-ios-xcode

  script:
    - scp build-ios/linphone-sdk-*.zip $DEPLOY_SERVER:$DEPLOY_SNAPSHOTS_ROOT_DIRECTORY/ios/
    - pod repo remove linphone-sdk || true
    - pod repo add linphone-sdk git@gitlab.linphone.org:BC/public/podspec.git $CI_COMMIT_REF_NAME
    - pod repo push linphone-sdk build-ios/linphone-sdk.podspec --skip-import-validation --local-only --verbose
    - cd ~/.cocoapods/repos/linphone-sdk && git push origin $CI_COMMIT_REF_NAME && cd -
    - pod repo remove linphone-sdk


#################################################
# Android
#################################################


job-android-upload:

  stage: deploy
  tags: [ "docker-android" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android:r17c
  except:
    variables:
      - $FAST_LINUX_TESTS

  except:
    variables:
      - $DEPLOY_RUN_IOS

  variables:
    CCACHE_SIZE: 4G
    CMAKE_GENERATOR: Ninja
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
    GIT_STRATEGY: clone

  extends: .scheduled-job-android

  dependencies:
    - job-android-ninja-r17c

  before_script:
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_USER_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo -e "Host gitlab.linphone.org\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

# Currently we can't use artifact to upload this so we rebuild all android project
  script:
    - git config --global user.email "gitlab@belledonne-communications.com"
    - git config --global user.name "Gitlab"
    - mkdir -p build-android
    - cd build-android
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Android -DLINPHONESDK_ANDROID_ARCHS="arm64, armv7, x86_64, x86" $DEFAULT_LINUX_CMAKE_OPTIONS $CMAKE_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS
    - ../cmake/Android/gradlew publish -i
    - cmake .. -DENABLE_VIDEO=NO
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS
    - ../cmake/Android/gradlew publish -Pno-video -i

  after_script:
    - rm -rf ~/.ssh || true
