#Build template to use in other job scripts without having to copy same code
#format = .className: &referenceName
#Use = "<< *referenceName" to use the template ("-*" in script)


.factorize_centos7: &docker_image_platform_runner_tag_dev_toolset
  tags: [ "docker-test" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  variables:
    PLATFORM: linux-centos7
  before_script:
    - source /opt/rh/devtoolset-8/enable




#################################################
# Makefile
#################################################


job-centos7-makefile-gcc:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  only:
    variables:
      - $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop
  before_script:
    - source /opt/rh/devtoolset-8/enable


#################################################
# Ninja
#################################################


job-centos7-ninja-gcc:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  except:
    variables:
      - $DOCKER_UPDATE
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop
  except:
    variables:
      - $SKIP_LINUX
  before_script:
    - source /opt/rh/devtoolset-8/enable

#################################################
# TESTS
#################################################


test-bctoolbox-centos7:
  extends: .test-bctoolbox
  dependencies:
    - job-centos7-ninja-gcc
  <<: *docker_image_platform_runner_tag_dev_toolset

test-bellesip-centos7:
  extends: .test-bellesip
  dependencies:
    - job-centos7-ninja-gcc
  #different runner needed because belle-sip_tester can't work in parallel (dialog test suite is crashing randomly)
  tags: [ "docker-sequential" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  variables:
    PLATFORM: linux-centos7
  before_script:
    - source /opt/rh/devtoolset-8/enable

test-belr-centos7:
  extends: .test-belr
  dependencies:
    - job-centos7-ninja-gcc
  <<: *docker_image_platform_runner_tag_dev_toolset

test-belcard-centos7:
  extends: .test-belcard
  dependencies:
    - job-centos7-ninja-gcc
  <<: *docker_image_platform_runner_tag_dev_toolset

test-bzrtp-centos7:
  extends: .test-bzrtp
  dependencies:
    - job-centos7-ninja-gcc
  <<: *docker_image_platform_runner_tag_dev_toolset

test-mediastreamer-centos7:
  tags: [ "docker-test-liblinphone" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos-test-liblinphone:7
  extends: .test
  dependencies:
    - job-centos7-ninja-gcc
  variables:
    TESTER_BIN: "mediastreamer2_tester"
    PULSEAUDIO: "pulseaudio -D -L module-virtual-source --exit-idle-time=-1"
    PULSEAUDIO_KILL: "pulseaudio --kill"
    LOG_PATTERN: "logMediastreamerAllPar"
    PATH_TO_TESTER: "${CI_PROJECT_DIR}/build-desktop/linphone-sdk/desktop/bin"
    SET_CAP_SYS_NICE_NET_ADMIN_MS: "sudo setcap cap_net_admin,cap_sys_nice+ep ./${TESTER_BIN}"
    PLATFORM: linux-centos7
  before_script:
    - source /opt/rh/devtoolset-8/enable


.test-liblinphone-centos7:
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos-test-liblinphone:7
  extends: .test-liblinphone
  dependencies:
    - job-centos7-ninja-gcc
  variables:
    PLATFORM: linux-centos7
  before_script:
    - source /opt/rh/devtoolset-8/enable

test-liblinphone-centos7-schedule:
  extends: .test-liblinphone-centos7

test-liblinphone-centos7-mr:
  extends: .test-liblinphone-centos7
  only:
    refs:
      - branches
      - tags
    variables:
      - $ENABLE_TESTS_IN_MR
  except:
   - schedules

test-liblinphone-centos7-force:
  extends: .test-liblinphone-centos7
  only:
    variables:
      - $ENABLE_TESTS_LIBLINPHONE