#################################################
# VS2015
#################################################

#job-windows-vs2015:
#
#  extends: .job-prepare
#  stage: build
#  tags: [ "windows" ]
#  except:
#    refs:
#      - feature/peioMergeCi
#
#  except:
#    variables:
#      - $DEPLOY_RUN_ANDROID
#      - $DEPLOY_RUN_IOS
#  variables:
#    CMAKE_OPTIONS: -DENABLE_LIME_X3DH=NO
#
#  script:
#    - mkdir build-desktop
#    - cd build-desktop
#    - cmake .. -G "Visual Studio 14 2015" -DLINPHONESDK_PLATFORM=Desktop -DCMAKE_BUILD_TYPE=Release %DEFAULT_CMAKE_OPTIONS% %CMAKE_OPTIONS%
#   - cmake --build . --target sdk --config Release -- /maxcpucount

.job-windows-vs2017:
  extends: .job-prepare
  stage: build
  tags: [ "windows" ]
  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
  variables:
    CMAKE_OPTIONS: -DENABLE_LIME_X3DH=NO

  script:
    - mkdir build-desktop
    - cd build-desktop
    - C:\PROGRA~1\Python37\Scripts\cl -s
    - cmake .. -G "Visual Studio 15 2017" -DLINPHONESDK_PLATFORM=Desktop -DENABLE_CSHARP_WRAPPER=YES -DCMAKE_BUILD_TYPE=Release %DEFAULT_CMAKE_OPTIONS% %CMAKE_OPTIONS%
    - cmake --build . --target sdk --config Release -- /maxcpucount /nodeReuse:true /p:TrackFileAccess=false
    - C:\PROGRA~1\Python37\Scripts\cl -s
            
.job-windows-vs2017-scheduled:
  extends: .job-windows-vs2017

  only:
    refs:
      - schedules
  before_script: 
    - set "CLCACHE_DISABLE=1"
    
    
job-windows-vs2017:
  extends: .job-windows-vs2017
  except:
    refs:
      - schedules
      
job-windows-vs2017-scheduled:
  extends: .job-windows-vs2017-scheduled
  
#job-windows-vs2015-novideo:
#
#  only:
#    - schedules
#  except:
#    variables:
#      - $DEPLOY_RUN_ANDROID
#      - $FAST_LINUX_TESTS
#  variables:
#    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
#  extends: job-windows-vs2015
  
job-windows-vs2017-novideo:
  extends: .job-windows-vs2017-scheduled
  variables:
    CMAKE_OPTIONS: -DENABLE_LIME_X3DH=NO -DENABLE_VIDEO=NO
    
job-windows-vs2017-package:
  stage: package
  tags: [ "windows" ]
  dependencies:
    - job-windows-vs2017
  script:
    - cp build-desktop\linphone-sdk\desktop\share\linphonecs\LinphoneWrapper.cs .\cmake\Windows\
    - cd .\cmake\Windows\
    - msbuild -t:restore CsWrapper.csproj
    - msbuild CsWrapper.csproj /p:MDILCompile=true /p:Platform="x86" /t:build /p:Configuration=Release
