#Build template to use in other job scripts without having to copy same code
#format = .className: &referenceName
#Use = "<< *referenceName" to use the template ("-*" in script)


.factorize_debian10: &docker_image_platform_and_runner_tag
  tags: [ "docker-test" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:10
  variables:
    PLATFORM: linux-debian10

#################################################
# Makefile
#################################################


job-debian10-makefile-gcc:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:10
#  only:
#    variables:
#      - $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .job-linux-desktop


job-debian10-makefile-clang:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:10
#  only:
#    variables:
#      - $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .job-linux-desktop


#################################################
# Ninja
#################################################


job-debian10-ninja-gcc:

  tags: [ "docker" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:10
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


job-debian10-ninja-gcc-novideo:

#  only:
#    variables:
#      - $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-debian10-ninja-gcc


job-debian10-ninja-gcc-smallsdk:

#  only:
#    variables:
#      - $NIGHTLY_MASTER

  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO -DENABLE_ADVANCED_IM=NO -DENABLE_DB_STORAGE=NO
  extends: job-debian10-ninja-gcc


job-debian10-ninja-clang:

  tags: [ "docker" ]
#  only:
#    variables:
#      - $NIGHTLY_MASTER
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:10
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
  extends: .job-linux-desktop

job-debian10-ninja-clang-sanitizer:
  variables:
    CMAKE_SANITIZER_OPTIONS: -DENABLE_SANITIZER=YES
  extends: job-debian10-ninja-clang


job-debian10-ninja-clang-novideo:
#  only:
#    variables:
#      - $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-debian10-ninja-clang

#################################################
# TESTS
#################################################



test-bctoolbox-debian10:
  extends: .test-bctoolbox
  dependencies:
    - job-debian10-ninja-gcc
  <<: *docker_image_platform_and_runner_tag

test-bellesip-debian10:
  extends: .test-bellesip
  dependencies:
    - job-debian10-ninja-gcc
  #different runner needed because belle-sip_tester can't work in parallel (dialog test suite is crashing randomly)
  tags: [ "docker-sequential" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian:10
  variables:
    PLATFORM: linux-debian10

test-belr-debian10:
  extends: .test-belr
  dependencies:
    - job-debian10-ninja-gcc
  <<: *docker_image_platform_and_runner_tag

test-belcard-debian10:
  extends: .test-belcard
  dependencies:
    - job-debian10-ninja-gcc
  <<: *docker_image_platform_and_runner_tag

test-bzrtp-debian10:
  extends: .test-bzrtp
  dependencies:
    - job-debian10-ninja-gcc
  <<: *docker_image_platform_and_runner_tag

test-liblinphone-debian10:
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-debian10-test-liblinphone
  extends: .test-liblinphone
  dependencies:
    - job-debian10-ninja-gcc
  variables:
    PLATFORM: linux-debian10
