#################################################
# Makefile
#################################################


job-centos7-makefile-gcc:

  tags: [ "docker-centos7" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  except:
    variables:
      - $FAST_LINUX_TESTS
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: gcc
    CXX: g++
  extends: .scheduled-job-linux-desktop


job-centos7-makefile-clang:

  tags: [ "docker-centos7" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  except:
    variables:
      - $FAST_LINUX_TESTS
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    CC: clang
    CXX: clang++
  extends: .scheduled-job-linux-desktop


#################################################
# Ninja
#################################################


job-centos7-ninja-gcc:

  tags: [ "docker-centos7" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  except:
    variables:
      - $FAST_LINUX_TESTS
  variables:
    CMAKE_GENERATOR: Ninja
    CC: gcc
    CXX: g++
  extends: .job-linux-desktop


job-centos7-ninja-gcc-novideo:

  tags: [ "docker-centos7" ]
  except:
    variables:
      - $FAST_LINUX_TESTS
  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-centos7-ninja-gcc


job-centos7-ninja-clang:

  tags: [ "docker-centos7" ]
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos:7
  variables:
    CMAKE_GENERATOR: Ninja
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -DENABLE_LIME=ON
  extends: .scheduled-job-linux-desktop


job-centos7-ninja-clang-novideo:

  except:
    variables:
      - $FAST_LINUX_TESTS
  only:
    - schedules
    
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-centos7-ninja-clang
  
  
#################################################
# TESTS
#################################################
  
  
test-bctoolbox-centos7:
  extends: .test-bctoolbox
  dependencies:
    - job-centos7-ninja-gcc
  tags: [ "docker-test-centos7" ]
  
test-bellesip-centos7:
  extends: .test-bellesip
  dependencies:
    - job-centos7-ninja-gcc
  tags: [ "docker-test-centos7" ]
  
test-belr-centos7:
  extends: .test-belr
  dependencies:
    - job-centos7-ninja-gcc
  tags: [ "docker-test-centos7" ]
  
test-belcard-centos7:
  extends: .test-belcard
  dependencies:
    - job-centos7-ninja-gcc
  tags: [ "docker-test-centos7" ]
  
test-bzrtp-centos7:
  extends: .test-bzrtp
  dependencies:
    - job-centos7-ninja-gcc
  tags: [ "docker-test-centos7" ]
  
test-mediastreamer:
  tags: [ "docker-test-centos7-mediastreamer" ]
  extends: .test
  dependencies:
    - job-centos7-ninja-gcc
  script:
    - pulseaudio -D -L module-virtual-source --exit-idle-time=-1
    - cd build-desktop/linphone-sdk/desktop/bin
    - ./mediastreamer2_tester --verbose --parallel --log-file logMediastreamerAllPar.txt
    
  after_script:
    - sudo mkdir ~/results
    - chmod 777 ~
    - cp -r build-desktop/linphone-sdk/desktop/bin/BCUnitAutomated* ~/results
    - cp -r build-desktop/linphone-sdk/desktop/bin/core* ~/results
    - cp -r build-desktop/linphone-sdk/desktop/bin/logMediastreamerAllPar.txt ~/results
  #uploading the artifacts
  artifacts:
    paths:
      - ~/results/
    when: always
    reports:
      junit:
        - build-desktop/linphone-sdk/desktop/bin/mstest-Results.xml
    expire_in: 4 week
    
test-liblinphone:
  tags: [ "docker-test-centos7-liblinphone" ]
  extends: .test
  dependencies:
    - job-centos7-ninja-gcc
  script:
    # xvfb = X emulation in docker
    - Xvfb :99 &
    - export DISPLAY=:99
    - cd build-desktop/linphone-sdk/desktop/bin    
    - ./liblinphone_tester --verbose --parallel --dns-hosts /builds/BC/public/linphone-sdk/linphone/tester/tester_hosts --show-account-manager-logs --log-file logLiblinphoneAllParThIpv6.txt
    # moving artifacts to simplify browsing
  after_script:
    - sudo mkdir ~/results
    - sudo chmod 777 ~
    - cp -r build-desktop/linphone-sdk/desktop/bin/core* ~/results
    - cp -r build-desktop/linphone-sdk/desktop/lib/* ~/results
    - cp -r build-desktop/linphone-sdk/desktop/lib/* ~/results
    - cp -r build-desktop/linphone-sdk/desktop/bin/liblinphone_tester ~/results
    - cp -r build-desktop/linphone-sdk/desktop/bin/BCUnitAutomated* ~/results
    - cp -r build-desktop/linphone-sdk/desktop/bin/logLiblinphoneAllParThIpv6* ~/results
    - cd ~/results
    - echo "thread apply all bt" | sudo tee .gdbinit
    - echo add-auto-load-safe-path /home/bc/results/.gdbinit | sudo tee -a /home/bc/.gdbinit
    # searching for core files and if there are some, launch gdb on all of it
    - ls | grep coregit push
    
    - find . -type f -name "core*" | xargs gdb liblinphone_tester
    
  #uploading the artifacts
  artifacts:
    paths:
      - /home/bc/results/
    when: always
    reports:
      junit:
        - build-desktop/linphone-sdk/desktop/bin/BCUnitAutomated-Results.xml
    expire_in: 4 week
    
#apparently there is no more standalone lime tester
#test-lime:
#  tags: [ "docker-test-centos7-lime" ]
#  extends: .test
#  dependencies:
#    - job-centos7-ninja-gcc
#  script:
#    - ls -la .
#    - pwd
#    - ls -la ./lime
#    - cd /builds/BC/public/linphone-sdk/lime/tester/server/nodejs
#    #installing here since the tester cannot find globally installed packages
#    - npm install yargs sqlite3 rwlock
#    - ./localServerStart.sh & #How do we stop it properly ????
#    - cd /builds/BC/public/linphone-sdk
#    - cd build-desktop/WORK/desktop/Build/
#    - ls -la
#    - cd lime
#    - ls-la
#    - cd tester
#    - ls -la
#
#    #path to source dir /builds/BC/public/linphone-sdk/lime
#    - ./lime_tester --verbose --xml-file limetest --resource-dir ../../../../../../lime/tester
#  #uploading the artifacts
#  artifacts:
#    paths:
#      - build-desktop/WORK/desktop/Build/lime/tester/limetest-Results.xml
#    when: always
#    reports:
#      junit:
#        - build-desktop/WORK/desktop/Build/lime/tester/limetest-Results.xml
