#################################################
# Windows
#################################################

job-windows-vs2017-package:
  stage: package
  tags: [ "windows" ]
  dependencies:
    - job-windows-vs2017-scheduled
  only:
#    variables:
 #     - $NIGHTLY_MASTER
  #    - $PACKAGE_RUN_WINDOWS
     refs:
       - fix/tests_reporting_tool
  script:
    - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat"
    - cd build-desktop
    - chdir > chdir_sdk.temp
    - set /p OUTPUT_SDK_BUILD=<chdir_sdk.temp
    - cd ..\cmake\Windows\wrapper\
    - chdir > chdir_wrapper.temp
    - set /p OUTPUT_WRAPPER_BUILD=<chdir_wrapper.temp
    - msbuild -t:restore CsWrapper.csproj
    - msbuild CsWrapper.csproj /p:MDILCompile=true /p:Platform="x86" /t:build /p:Configuration=Release /p:OutputSdkBuild=%OUTPUT_SDK_BUILD%
    - cd ..\nuget
    - git describe > describe.temp
    - set /p DESCRIBE=<describe.temp
    - msbuild NuGetLinphoneSDK.vcxproj /p:VersionNumber=%DESCRIBE% /p:OutputSdkBuild=%OUTPUT_SDK_BUILD% /p:OutputWrapperBuild=%OUTPUT_WRAPPER_BUILD%
    
  after_script:
    - mkdir "${CI_PROJECT_DIR}/results/windows-nugget"
    - copy /B "${CI_PROJECT_DIR}/cmake/Windows/nuget/*.nupkg" "${CI_PROJECT_DIR}/results/windows-nugget"
  artifacts:
    paths:
      - results/*
    when: always
    expire_in: 1 week
 
