.job-macosx-desktop:

  extends: .job-prepare
  stage: build
  tags: [ "macosx" ]
  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $FAST_LINUX_TESTS

  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS

  script:
    - ccache -s
    - mkdir -p build-desktop
    - cd build-desktop
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Desktop -DCMAKE_OSX_DEPLOYMENT_TARGET=10.9 $DEFAULT_CMAKE_OPTIONS $CMAKE_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS
    - ccache -s

  artifacts:
    paths:
      - build-desktop/linphone-sdk-macosx-*.zip
      - build-desktop/linphone-sdk-macosx.podspec
    when: always
    expire_in: 1 week

.scheduled-job-macosx-desktop:
  extends: .job-macosx-desktop
  only:
    - schedules

#################################################
# Makefile
#################################################


job-macosx-makefile:

  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $FAST_LINUX_TESTS
  only:
    - schedules
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    ADDITIONAL_BUILD_OPTIONS: -j$MAKEFILE_JOBS
  extends: .job-macosx-desktop


#################################################
# Ninja
#################################################


job-macosx-ninja:

  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $FAST_LINUX_TESTS
  variables:
    CMAKE_GENERATOR: Ninja
  extends: .job-macosx-desktop


job-macosx-ninja-novideo:

  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $FAST_LINUX_TESTS
  only:
    - schedules
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: job-macosx-ninja


#################################################
# XCode
#################################################


job-macosx-xcode:

  stage: build
  tags: [ "macosx" ]

  except:
    variables:
      - $DEPLOY_RUN_ANDROID
      - $DEPLOY_RUN_IOS
      - $FAST_LINUX_TESTS

  only:
    - schedules
  script:
    - mkdir -p build-desktop
    - cd build-desktop
    - cmake .. -G Xcode -DLINPHONESDK_PLATFORM=Desktop -DCMAKE_OSX_DEPLOYMENT_TARGET=10.9 -DLINPHONESDK_MACOS_BASE_URL=$MACOS_SNAPSHOTS_URL $CMAKE_OPTIONS
    - cmake --build . --target sdk -- -IDEBuildOperationMaxNumberOfConcurrentCompileTasks=`sysctl -n hw.ncpu`

  artifacts:
    paths:
      - build-desktop/linphone-sdk-macosx-*.zip
      - build-desktop/linphone-sdk-macosx.podspec
    when: always
    expire_in: 1 week
