INSTALL
aclocal.m4
*~
configure
Makefile.in
Makefile
build-aux
m4
autom4te.cache
*.o
*.lo
*.la
config.log
config.status
.deps
.libs
libtool
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing

