.android:

  stage: build
  tags: [ "docker" ]

  variables:
    CCACHE_SIZE: 4G

  extends: .linux-prepare

  rules:
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event") && $DOCKER_UPDATE == null && $SKIP_ANDROID == null
    - if: ($CI_PIPELINE_SOURCE == "schedule") && $DOCKER_UPDATE == null && $SKIP_ANDROID == null

  script:
    - sdkmanager
    - mkdir -p build
    - cd build
    - echo $CMAKE_GENERATOR
    - echo $ANDROID_ARCHS
    - echo $DEFAULT_LINUX_CMAKE_OPTIONS
    - echo $CMAKE_OPTIONS
    - cmake .. -G "$CMAKE_GENERATOR" -DLINPHONESDK_PLATFORM=Android -DLINPHONESDK_ANDROID_ARCHS="$ANDROID_ARCHS" $DEFAULT_LINUX_CMAKE_OPTIONS $CMAKE_OPTIONS $SCHEDULE_CMAKE_OPTIONS $CMAKE_SANITIZER_OPTIONS
    - cmake --build . --target sdk -- $ADDITIONAL_BUILD_OPTIONS
    - echo $(git describe) > gitdescribe.txt
    - cmake --log-level=ERROR -L ../CMakeLists.txt | grep LINPHONESDK_VERSION_CACHED | cut -d "=" -f2 > linphonesdkversionandroid.txt

  artifacts:
    paths:
      - build/gitdescribe.txt
      - build/linphonesdkversionandroid.txt
      - build/linphone-sdk/bin/outputs/aar/*.aar
      - build/linphone-sdk/bin/libs/linphone-sdk-android-javadoc.jar
      - build/linphone-sdk/bin/libs/linphone-sdk-android-sources.jar
      - build/linphone-sdk/bin/distributions/linphone-sdk-*.zip
      - build/linphone-sdk/bin/docs/javadoc/*

      #Needed for tester
      - build/libs-debug/*
      - linphone/tester/*

      #Needed of uploads
      - build/upload.gradle
      - build/gradle.properties
      - build/LinphoneSdkManifest.xml
    when: always
    expire_in: 2 days


#################################################
# Makefile
#################################################

android-makefile-r20:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android-r20:$ANDROID_R20_IMAGE_VERSION
  variables:
    CMAKE_GENERATOR: Unix Makefiles
    #Only used to overwrite value set by .set_parallel_level.yml
    #ADDITIONAL_BUILD_OPTIONS: -j[jobs]
    CMAKE_OPTIONS: -DENABLE_UNIT_TESTS=ON
  extends: .android

android-makefile-r20-g729-ldap:
  rules:
    - if: $NIGHTLY_MASTER
    - if: $NIGHTLY_RELEASE
    - if: $DEPLOY_RUN_ANDROID
  variables:
    CMAKE_OPTIONS: -DENABLE_G729=ON -DENABLE_LDAP=ON
  extends: android-makefile-r20

android-makefile-r20-minimal-size:
  rules:
    - if: $NIGHTLY_MASTER
    - if: $NIGHTLY_RELEASE
    - if: $DEPLOY_RUN_ANDROID
  variables:
    ANDROID_ARCHS: $ANDROID_ARCHS_MINIMAL_SIZE
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO -DENABLE_ADVANCED_IM=NO -DENABLE_DB_STORAGE=NO -DENABLE_VCARD=NO -DENABLE_MKV=NO -DENABLE_CAMERA2=NO -DENABLE_ASSETS=NO -DENABLE_LIME_X3DH=NO -DENABLE_QRCODE=NO -DENABLE_JPEG=NO -DENABLE_ZLIB=NO
  extends: android-makefile-r20


#################################################
# Ninja
#################################################

android-ninja-r20-no-video:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android-r20:$ANDROID_R20_IMAGE_VERSION
  rules:
    - if: $NIGHTLY_MASTER
    - if: $NIGHTLY_RELEASE
    - if: $DEPLOY_RUN_ANDROID
  variables:
    CMAKE_GENERATOR: Ninja
    CMAKE_OPTIONS: -DENABLE_UNIT_TESTS=ON
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO
  extends: .android

#android-ninja-r20-macos:
#  tags: [ "macosx" ]
# rules:
#   - if: $NIGHTLY_MASTER
#  variables:
#    CMAKE_GENERATOR: Ninja
#    CMAKE_OPTIONS: -DENABLE_UNIT_TESTS=ON
#  extends: .android

android-ninja-r20:

  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-android-r20:$ANDROID_R20_IMAGE_VERSION
  rules:
    - if: $NIGHTLY_MASTER
  variables:
    CMAKE_GENERATOR: Ninja
  extends: .android

android-ninja-r20-smallsdk:

  rules:
    - if: $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_VIDEO=NO -DENABLE_ADVANCED_IM=NO -DENABLE_DB_STORAGE=NO
  extends: android-ninja-r20

android-ninja-r20-allcodecs:
  rules:
    - if: $NIGHTLY_MASTER
  variables:
    CMAKE_OPTIONS: -DENABLE_NON_FREE_CODECS=YES -DENABLE_OPENH264=YES -DENABLE_G729=YES

  extends: android-ninja-r20

#android-ninja-r20-sanitizer:
#  variables:
#    CMAKE_SANITIZER_OPTIONS: -DENABLE_SANITIZER=YES
#  extends: android-ninja-r20
