job-docker-rebuild-centos7-image:
  stage: docker-update-build
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_CENTOS7
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  script:
    - docker pull centos:7
    - cd docker-files
    - docker build -f ./bc-dev-centos7 -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7:latestupdated

job-docker-rebuild-centos7-ms-test-image:
  stage: docker-update-build-ms
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_CENTOS7
  needs:
    - job-docker-rebuild-centos7-image
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  script:
    - docker pull gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7:latestupdated
    - cd docker-files
    - docker build -f ./bc-dev-centos7-test-mediastreamer -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7-test-mediastreamer:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7-test-mediastreamer:latestupdated

job-docker-rebuild-centos7-liblinphone-test-image:
  stage: docker-update-build-liblinphone
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_CENTOS7
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  needs:
    - job-docker-rebuild-centos7-ms-test-image
  script:
    - docker pull gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7-test-mediastreamer:latestupdated
    - cd docker-files
    - docker build -f ./bc-dev-centos7-test-liblinphone -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7-test-liblinphone:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7-test-liblinphone:latestupdated

job-rebuild-centos7-newdocker-makefile-gcc:
  extends: job-centos7-makefile-gcc
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS7

job-rebuild-centos7-newdocker-ninja-gcc:
  extends: job-centos7-ninja-gcc
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS7

test-liblinphone-centos7-newdocker:
  extends: test-liblinphone-centos7
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos7-test-liblinphone:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS7
  needs:
    - job-rebuild-centos7-newdocker-makefile-gcc
