job-docker-rebuild-ubuntu-rolling-image:
  stage: docker-update-build
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_UBUNTU
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  script:
    - docker pull ubuntu:rolling
    - cd docker-files
    - docker build -f ./bc-dev-ubuntu-rolling -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated

job-docker-rebuild-ubuntu-rolling-ms-test-image:
  stage: docker-update-build-ms
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_UBUNTU
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  needs:
    - job-docker-rebuild-ubuntu-rolling-image
  script:
    - docker pull gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated
    - cd docker-files
    - docker build -f ./bc-dev-ubuntu-rolling-test-mediastreamer -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling-test-mediastreamer:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling-test-mediastreamer:latestupdated

job-docker-rebuild-ubuntu-rolling-liblinphone-test-image:
  stage: docker-update-build-liblinphone
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_UBUNTU
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  needs:
    - job-docker-rebuild-ubuntu-rolling-ms-test-image
  script:
    - docker pull gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling-test-mediastreamer:latestupdated
    - cd docker-files
    - docker build -f ./bc-dev-ubuntu-rolling-test-liblinphone -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling-test-liblinphone:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling-test-liblinphone:latestupdated

job-rebuild-ubuntu-rolling-newdocker-makefile-gcc:
  extends: job-ubuntu-rolling-makefile-gcc
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated
  rules:
    - if: $DOCKER_UPDATE_UBUNTU

#job-rebuild-ubuntu-rolling-newdocker-ninja-gcc:
#  extends: job-ubuntu-rolling-ninja-gcc
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated
#  rules:
#    - if: $DOCKER_UPDATE_UBUNTU

#job-rebuild-ubuntu-rolling-newdocker-ninja-gcc-novideo:
#  extends: job-ubuntu-rolling-ninja-gcc-novideo
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated
#  rules:
#   - if: $DOCKER_UPDATE_UBUNTU

#job-rebuild-ubuntu-rolling-newdocker-makefile-clang:
#  extends: job-ubuntu-rolling-makefile-clang
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated
#  rules:
#    - if: $DOCKER_UPDATE_UBUNTU

job-rebuild-ubuntu-rolling-newdocker-ninja-clang:
  extends: job-ubuntu-rolling-ninja-clang
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated
  rules:
    - if: $DOCKER_UPDATE_UBUNTU

#job-rebuild-ubuntu-rolling-newdocker-ninja-clang-novideo:
#  extends: job-ubuntu-rolling-ninja-clang-novideo
#  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu:rollingupdated
#  rules:
#    - if: $DOCKER_UPDATE_UBUNTU

test-liblinphone-ubuntu-rolling-newdocker:
  extends: test-liblinphone-ubuntu
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-ubuntu-rolling-test-liblinphone:latestupdated
  rules:
    - if: $DOCKER_UPDATE_UBUNTU
  needs:
    - job-rebuild-ubuntu-rolling-newdocker-makefile-gcc
