job-docker-rebuild-centos8-image:
  stage: docker-update-build
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_CENTOS8
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  script:
    - docker pull centos:8
    - cd docker-files
    - docker build -f ./bc-dev-centos8 -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated

job-docker-rebuild-centos8-ms-test-image:
  stage: docker-update-build-ms
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_CENTOS8
  needs:
    - job-docker-rebuild-centos8-image
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  script:
    - docker pull gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated
    - cd docker-files
    - docker build -f ./bc-dev-centos8-test-mediastreamer -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8-test-mediastreamer:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8-test-mediastreamer:latestupdated

job-docker-rebuild-centos8-liblinphone-test-image:
  stage: docker-update-build-liblinphone
  tags: [ "linux-deploy" ]
  rules:
    - if: $DOCKER_UPDATE_CENTOS8
  # Prevent tests from fetching repo. They have all needed files in upcoming artifacts
  variables:
    GIT_STRATEGY: fetch
    GIT_SUBMODULE_STRATEGY: none
  needs:
    - job-docker-rebuild-centos8-ms-test-image
  script:
    - docker pull gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8-test-mediastreamer:latestupdated
    - cd docker-files
    - docker build -f ./bc-dev-centos8-test-liblinphone -t gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8-test-liblinphone:latestupdated --rm --no-cache .
    - docker login gitlab.linphone.org:4567
    - docker push gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8-test-liblinphone:latestupdated

job-rebuild-centos8-newdocker-makefile-gcc:
  extends: job-centos8-makefile-gcc
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS8


job-rebuild-centos8-newdocker-ninja-gcc:
  extends: job-centos8-ninja-gcc
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS8

job-rebuild-centos8-newdocker-ninja-gcc-novideo:
  extends: job-centos8-ninja-gcc-novideo
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS8

job-rebuild-centos8-newdocker-makefile-clang:
  extends: job-centos8-makefile-clang
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS8

job-rebuild-centos8-newdocker-ninja-clang:
  extends: job-centos8-ninja-clang
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS8

job-rebuild-centos8-newdocker-ninja-clang-novideo:
  extends: job-centos8-ninja-clang-novideo
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS8

test-liblinphone-centos8-newdocker:
  extends: test-liblinphone-centos8
  image: gitlab.linphone.org:4567/bc/public/linphone-sdk/bc-dev-centos8-test-liblinphone:latestupdated
  rules:
    - if: $DOCKER_UPDATE_CENTOS8
  needs:
    - job-rebuild-centos8-newdocker-makefile-gcc
