macos-upload:
  stage: deploy
  tags: [ "macos-xcode13" ]

  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $DEPLOY_MACOS != null
  variables:
    GIT_FETCH_EXTRA_FLAGS: --tags --force --recurse-submodules=yes
    GIT_SUBMODULE_UPDATE_FLAGS: --jobs 8 --force --recursive
  needs:
    - macos-xcode

  script:
    - DESCRIBE=$(git -C liblinphone describe)
    - echo $DESCRIBE
    - !reference [.choose_upload_dir, script]
    - rsync -rlv --ignore-existing build/mac/linphone-sdk-*.zip $DEPLOY_SERVER:$UPLOAD_ROOT_DIRECTORY/macosx/sdk
    - pod repo remove linphone-sdk-macosx || true
    - pod repo add linphone-sdk-macosx git@gitlab.linphone.org:BC/public/podspec-macos.git master
    - pod repo push linphone-sdk-macosx build/mac/linphone-sdk.podspec --skip-import-validation --verbose --allow-warnings
    - cd ~/.cocoapods/repos/linphone-sdk-macosx && git push origin master && cd -
    - pod repo remove linphone-sdk-macosx


macos-ninja-spm-upload:
  stage: deploy
  tags: [ "macos-xcode13" ]

  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $DEPLOY_MACOS != null
    - !reference [.rules-merge-request-manual, rules]
  variables:
    GIT_FETCH_EXTRA_FLAGS: --tags --force --recurse-submodules=yes
    GIT_SUBMODULE_UPDATE_FLAGS: --jobs 8 --force --recursive
    SWIFT_PACKAGE_FLAVOR: ""
  needs:
    - macos-ninja-spm

  script:
    - DESCRIBE=$(git describe)
    - echo $DESCRIBE
    - !reference [.choose_upload_dir, script]
    - |
        if [[ "$CI_PIPELINE_SOURCE" == "merge_request_event" ]]; then
          TARGET_BRANCH="${SWIFT_PACKAGE_FLAVOR}$CI_COMMIT_REF_NAME"
        else
          TARGET_BRANCH="${SWIFT_PACKAGE_FLAVOR}${SPM_DEPLOY_TARGET_BRANCH}"
        fi
    - VERSION=$(cat build/mac/linphone-sdk-swift-macos/VERSION)
    - echo "Uploading SPM $VERSION to $DEPLOY_SERVER:$UPLOAD_ROOT_DIRECTORY/macos/sdk/spm/$SWIFT_PACKAGE_FLAVOR"
    - rsync -ar build/mac/linphone-sdk-swift-macos/ $DEPLOY_SERVER:$UPLOAD_ROOT_DIRECTORY/macos/sdk/spm/$SWIFT_PACKAGE_FLAVOR/linphone-sdk-swift-macos-$VERSION/
    - rm -rf build/mac/linphone-sdk-swift-macos/XCFrameworks
    - echo "Publishing SPM to branch $TARGET_BRANCH."
    - cd build/mac
    - git clone git@gitlab.linphone.org:BC/public/linphone-sdk-swift-macos.git public-linphone-sdk-swift-macos
    - cd public-linphone-sdk-swift-macos
    - git checkout "$TARGET_BRANCH" || git checkout -b "$TARGET_BRANCH"
    - rsync -ar ../linphone-sdk-swift-macos/* .
    - git add .
    - git commit -a -m "Swift package $VERSION $SWIFT_PACKAGE_FLAVOR"
    - git push || git push --set-upstream origin $TARGET_BRANCH
    - |
      if [ -n "$SWIFT_PACKAGE_FLAVOR" ]; then
        SPM_TAG=$VERSION-$(echo "$SWIFT_PACKAGE_FLAVOR" | sed "s/\///g")
      else
       SPM_TAG=$VERSION
      fi
    - git tag -a $SPM_TAG -m "linphone-sdk $VERSION"
    - git push --tags

macos-ninja-spm-upload-novideo:
  needs:
    - macos-ninja-spm-novideo
  variables:
    SWIFT_PACKAGE_FLAVOR: "novideo/"
  extends: macos-ninja-spm-upload
